@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager nav
@inject IHttpClientFactory ClientFactory
@inject JwtAuthenticationStateProvider jwtprovider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button @onclick="Logout" type="button">Logout</button>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    async Task Logout()
    {
        jwtprovider.Logout();

        var client = ClientFactory.CreateClient();
        var response = await client.PostAsync("https://localhost:7235/logout", null);

        var responseString = await response.Content.ReadAsStringAsync();

        nav.NavigateTo("/log_in");
    }
}